<div class="container">
    <div class="row">
        <h4 class="heading"><span class="text-danger"> Latest</span> Arrivals</h4>
        <!-- <small>View our range of cooking appliances</small> -->
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="">
                            <img class="cardImg" src="../../../assets/6.jpeg">
                        </div>
                        <h6 class="float-left description ml-2">Prestige PMC 3.0 Plus Multi Cooker 1.5 L (Silver and
                            Black)</h6>
                        <h6 class="float-left productName ml-2">Rice cooker</h6>
                        <div class="priceDetails">
                            <span class="price">₹ 900.00</span>
                            <span class="totalPrice">₹ 1000.00</span>
                            <span class="percentageOff">10% off</span>

                        </div>
                    </div>


                </div>
                <!--  -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="">
                            <img class="cardImg" src="../../../assets/5.jpeg">
                        </div>
                        <h6 class="float-left description ml-2">Prestige PMC 3.0 Plus Multi Cooker 1.5 L (Silver and
                            Black)</h6>
                        <h6 class="float-left productName ml-2">Rice cooker</h6>
                        <div class="priceDetails">
                            <span class="price">₹ 900.00</span>
                            <span class="totalPrice">₹ 1000.00</span>
                            <span class="percentageOff">10% off</span>

                        </div>
                    </div>


                </div>
                <!--  -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="">
                            <img class="cardImg" src="../../../assets/2.jpeg">
                        </div>
                        <h6 class="float-left description ml-2">Prestige PMC 3.0 Plus Multi Cooker 1.5 L (Silver and
                            Black)</h6>
                        <h6 class="float-left productName ml-2">Rice cooker</h6>
                        <div class="priceDetails">
                            <span class="price">₹ 900.00</span>
                            <span class="totalPrice">₹ 1000.00</span>
                            <span class="percentageOff">10% off</span>

                        </div>
                    </div>


                </div>
                <!--  -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="">
                            <img class="cardImg" src="../../../assets/3.jpeg">
                        </div>
                        <h6 class="float-left description ml-2">Prestige PMC 3.0 Plus Multi Cooker 1.5 L (Silver and
                            Black)</h6>
                        <h6 class="float-left productName ml-2">Rice cooker</h6>
                        <div class="priceDetails">
                            <span class="price">₹ 900.00</span>
                            <span class="totalPrice">₹ 1000.00</span>
                            <span class="percentageOff">10% off</span>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

<div class="row brandDetails">
    <div class="">
        <div class=""><img class="year" src="../../../assets/years.png"></div>
        <p class="yExperience">Over 20 years <br> <span class="of"> of </span> <br>
            <span class="exp"> Expertise</span>
        </p>

    </div>
    <div>
        <div class="">
            <div class=""><img class="Innovation" src="../../../assets/digital.png"></div>
            <p class="Customer">Customer Inspired
                <br>
                <span class="Inspired"> Innovation</span>
            </p>
        </div>

    </div>
    <div class="">
        <div class=""><img class="Innovation" src="../../../assets/s.jfif"></div>
        <p class="unrivalled">Unrivalled
            
            <br>
            <span class="trust"> Trust</span>
        </p>
    </div>
    <div class="">
        <div class=""><img class="Innovation" src="../../../assets/safe.jpg"></div>
        <p class="safety">Highest Safety
            
            
            <br>
            <span class="standards"> Standards</span>
        </p>
    </div>
    </div>
    <!-- <div>
        <img src="../../../assets/b4.webp">
    </div> -->