<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="blackHead">
                    <p class="number mt-2">Call Us : 9155576481</p>
                    <p class="language mt-2">Language : English
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->

<div class="container">
    <div class="logo mt-4">
        <img class="logoImg mb-4" src="../../../assets/logoWh.png" routerLink="home">
    </div>

    <div class="">
        <ul class="menu">
            <li><a class="navTopText" routerLink="about">About Us</a></li>
            <li><a class="navTopText">|</a></li>
            <li><a class="navTopText">Suppliers</a></li>
            <li><a class="navTopText">|</a></li>
            <li><a class="navTopText">Support</a></li>
            <li ><a class="navTopText"> <i style="font-size:24px" class="fa">&#xf07a;</i> </a></li>
            <li routerLink="../auth/register"><a class="navTopText"> <i style="font-size:24px" class="fa">&#xf2bd;</i> </a></li>


        


        </ul>
        <br>
        <ul class="menuTwo">

            <li><a class="navBottomText">Pressure Cooker</a></li>
            <li><a class="navBottomText">Cookware</a></li>
            <li><a class="navBottomText">Gas Stove</a></li>
            <li><a class="navBottomText">Home Solutions</a></li>
            <li><a class="navBottomText">Electronics</a></li>
             <li><a class="navBottomText">Spare Parts</a></li>
            <li><a class="navBottomText">Brands</a></li>

        </ul>
    </div>
    <div class="menuBar">
        <!-- <ul>
                <li><a href="#home">About Us</a></li>
                <li><a href="#news">|</a></li>
                <li><a href="#contact">Suppliers</a></li>
                <li><a href="#about">|</a></li>
                <li><a href="#contact">Support</a></li>
              </ul> -->
    </div>
</div>