<div class="container">
    <h4 class="heading"><span class="text-danger"> Popular</span> Products</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <p class="productName"> Pressure Cooker</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <p class="productName">Cooktop</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <p class="productName">Cookware</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <p class="productName">Home Solution</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <p class="productName">Kitchen Appliances</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <p class="productName">More</p>
                    </div>
                </div>
            </div>
<div class="row">
   
  
        </div>

        
    </div>
</div>