<div class="container">
    <div class="row">
        <h4 class="heading"><span class="text-danger"> Popular</span> Brands</h4>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="">
                            <img class="cardImg" src="../../../assets/WhatsApp Image 2022-08-11 at 3.20.24 PM.jpeg">
                        </div>
                    </div>
                    <h4 class="float-left brandName ml-2">Hawkins</h4>
                    <button class="float-right exploreBtn">Explore More</button>
                </div>

              
                <div class="col-md-3">
                    <div class="card">
                        <div class="">
                            <img class="cardImg" src="../../../assets/1.jpeg">
                        </div>
                    </div>

                  
                    <h4 class="float-left brandName ml-2">Prestige</h4>
                    <button class="float-right exploreBtn">Explore More</button>
                </div>
             
                <div class="col-md-3">
                    <div class="card">
                        <div class="">
                            <img class="cardImg" src="../../../assets/2.jpeg">
                        </div>
                    </div>
                    <h4 class="float-left brandName ml-2">Futura</h4>
                    <button class="float-right exploreBtn">Explore More</button>
                </div>
               
                <div class="col-md-3">
                    <div class="card">
                        <div class="">
                            <img class="cardImg" src="../../../assets/3.jpeg">
                        </div>
                    </div>
                    <h4 class="float-left brandName ml-2">Pigeon</h4>
                    <button class="float-right exploreBtn">Explore More</button>
                </div>
              

            </div>

        </div>
    </div>
</div>
<!--  -->

<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="">
                            <img class="cardImg" src="../../../assets/WhatsApp Image 2022-08-11 at 3.20.24 PM.jpeg">
                        </div>
                    </div>
                    <h4 class="float-left brandName ml-2">Hawkins</h4>
                    <button class="float-right exploreBtn">Explore More</button>
                </div>
              
                <div class="col-md-4">
                    <div class="card">
                        <div class="">
                            <img class="cardImg" src="../../../assets/WhatsApp Image 2022-08-11 at 3.20.24 PM.jpeg">
                        </div>
                    </div>
                    <h4 class="float-left brandName ml-2">Hawkins</h4>
                    <button class="float-right exploreBtn">Explore More</button>
                </div>
               
                <div class="col-md-4">
                    <div class="card">
                        <div class="">
                            <img class="cardImg" src="../../../assets/WhatsApp Image 2022-08-11 at 3.20.24 PM.jpeg">
                        </div>
                    </div>
                    <h4 class="float-left brandName ml-2">Hawkins</h4>
                    <button class="float-right exploreBtn">Explore More</button>
                </div>
            </div>
        </div>
    </div>
</div> -->